body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: whitesmoke;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 50px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px grey;
}
.imagem-imc {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
}
input {
  width: 80%;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  min-width: 200px;
  text-align: center;
  margin-bottom: 8px;
}
input:focus {
  outline: 2px solid lightskyblue;
  text-align: center;
}
.formulario {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button {
  background-color: #6558f5;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  margin-top: 15px;
  width: 40%;
}
button:hover {
  background-color: #5a4fd7;
}
